* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.app-container {
  display: flex;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

.side-panel h2{
  margin-bottom: 15px;
  font-size: 20px;
  background-color: #1e1e1e;
}

.side-panel {
  margin-right: 40px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 12px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 2px solid #fff;
  gap: 2px;
  background-color: #1e1e1e;
}

.grid-cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  background-color: #2a2a2a;
  border-radius: 2px;
}

.grid-cell:hover {
  background-color: #3a3a3a;
  box-shadow: 0 0 4px #fff;
}

.building-block {
  padding: 12px;
  margin: 12px 0;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  cursor: grab;
  text-align: center;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.building-block:hover {
  background-color: #3a3a3a;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

.building-block:active {
  cursor: grabbing;
  transform: translateY(0) scale(0.98);
}

.road-top {
  border-top: 4px solid #666;
}

.road-right {
  border-right: 4px solid #666;
}

.road-bottom {
  border-bottom: 4px solid #666;
}

.road-left {
  border-left: 4px solid #666;
}

.score-container {
  margin-left: 20px;
}

.score-bar-background {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.score-bar-foreground {
  height: 100%;
  background: linear-gradient(to right, #ff416c, #ffd200, #38ef7d);
  background-size: 100% 100%;
  border-radius: 4px;
  transition: width 0.1s;
}

.submitted .grid-container, .submitted .side-panel {
  pointer-events: none; /* Disables all mouse events */
  opacity: 0.6; /* Visually fade it out */
}

/* --- General Button Style --- */
/* A base style for consistency across all buttons */
.button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin: 5px;
  color: white;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.button-submit {
  background-color: #fff;
  color:black
}
.button-road-mode {
  background-color: #6c757d;
}
.button-road-mode.active {
  background-color: #097422;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:disabled {
  background-color: #ced4da;
  color: #6c757d;
  cursor: not-allowed;
  transform: none; 
  box-shadow: none;
}